parameters:
	level: 9
	paths:
		- src
		- test
	fileExtensions:
		- php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		-
			identifier: method.unused
			path: src/Application.php
		-
			identifier: missingType.generics
			path: src/Application.php
